{% extends "apps/layout.html" %}
{% block body %}



<h1>Counter Strike Division:</h1>
<p>- Must be able to attend meetings at 8pm EST Saturday nights</p>
<p>- Must be 15 years of age or older*</p>

<h1>Insurgency:</h1>
<p>- Must be able to attend meetings at 8pm EST Saturday nights</p>
<p>- Applicants may only apply 3 times</p>

<h1>Garry's Mod:</h1>
<p>- Must be able to attend meetings at 8pm EST Saturday nights</p>
<p>- 3 meaningful posts on the forums, such as an introduction.  Your application can not be your third post. (Not spam or necro posting)</p>
<p>- must be registered on the forums for at least 1 week</p>
<p>- 15+ Hours on the Gmod Servers</p>

<h1>Minecraft:</h1>
<p>- Must be able to attend meetings at 8pm EST Saturday nightsv
<p>- Must be 14 years of age or older**</p>

<h1>Team Fortress 2:</h1>
<p>- You must have at least 5 SOLID POSTS on the forums Before You Apply***</p>

<p>- You must have been on the forums for NO LESS THAN A WEEK prior to applying.
    Use this time to evenly spread out your posts and do not post all in a range of 20 minutes and then go make an application; you will be denied.</p>

<p>- You only have 3 chances to apply for the division, so choose your applications to post on the forums wisely.</p>

<p>* Unless vouched for by a JO+
<p>** Feel free to apply even if under the age minimum, if you are mature and have gained the respect of the clan, age is not a barrier</p>
<p>*** This does not include saying, "lol" on random threads or your application posts, but does include making a forum introduction for example.
    Do NOT necro threads, meaning bumping threads that haven't been posted on in weeks with your dumb comments; keep it current.</p>

<hr>
<div align="center">
    <a class="btn btn-lg btn-danger" href="/apply" role="button"><i class=""></i> Continue to application</a>


</div>
<p>&nbsp;</p>

{% endblock %}