{% extends 'apps/layout.html' %}
{% block body %}


<!doctype html>
<html>
<head>
	<title>HTML Editor - Full Version</title>
</head>
<body>
<div align="center"><background=rgb(18,><u><font color="#FFFFFF"><font size="1"><b>xTcR Roster</b></font></font></u></background=rgb(18,></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><font color="#FFFFFF"><font size="1"><u>Master of the Universe</u></font></font></b></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><a href="http://steamcommunity.com/id/kuro112"><font color="#FF0000">Kuro</font></a></b></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font size="1"><a href="http://xtcr.net/user/1-kuro/"><font color="#FF0000"><b>forums</b></font></a></font></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><font color="#FFFFFF"><font size="1"><u>The Powers That Be</u></font></font></b></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><a href="http://steamcommunity.com/id/143543157586479"><font color="#00FFFF">Genocide</font></a></b></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><a href="http://xtcr.net/user/14-genocide/"><font color="#00FFFF"><font size="1"><b>forums</b></font></font></a></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><a href="http://steamcommunity.com/profiles/76561198002289294"><font color="#003399">Rockstar</font></a></b></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><a href="http://xtcr.net/user/7-rockstar/"><font color="#003399"><font size="1"><b>forums</b></font></font></a></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFF00"><b><u>JackTheRipper</u></b></font></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><a href="http://xtcr.net/user/64-jacktheripper/"><font color="#FFFF00"><font size="1"><b>forums</b></font></font></a></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font face="arial," sans-serif=""><u><font color="#FFFFFF"><font size="1"><b>Lieutenant</b></font></font><font color="#FFFFFF"><font size="1"><b>s</b></font></font></u></font></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><a href="http://steamcommunity.com/id/otsukajulia"><font color="#800080">Julia Zajda</font></a></b></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font size="1"><b><a href="http://xtcr.net/user/300-juliazajda/"><font color="#800080">forums</font></a></b></font></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><a href="http://steamcommunity.com/id/KhaotiKRepublik"><font color="#008000">KottonMouth</font></a></b></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><a href="http://xtcr.net/user/83-codekottonmouth/"><font color="#008000"><font size="1">forums</font></font></a></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#FFFFFF"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><font size="1"><u>Clan Officers</u></font></b></background=rgb(18,></font></font></font></div>

<div align="center"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><font size="1"><a href="http://steamcommunity.com/id/jaxnif"><font color="#40E0D0">Jaxnif</font></a></font></b></background=rgb(18,></font></font></div>

<div align="center"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><font size="1"><a href="http://xtcr.net/user/32-jaxnif/"><font color="#40E0D0">forums</font></a></font></b></background=rgb(18,></font></font></div>

<div align="center"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><a href="http://steamcommunity.com/profiles/76561198002920471/"><font color="#008000">KushLove</font></a></b></background=rgb(18,></font></font></div>

<div align="center"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><font size="1"><a href="http://xtcr.net/user/59-kushlove/"><font color="#008000">forums</font></a></font></b></background=rgb(18,></font></font></div>

<div align="center"><b><a href="http://steamcommunity.com/id/seanschilling"><font color="#A52A2A">Vslice</font></a></b></div>

<div align="center"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><font size="1"><font color="#A52A2A">F</font><a href="http://xtcr.net/user/938-seanschilling/"><font color="#A52A2A">orums</font></a></font></b></background=rgb(18,></font></font></div>

<div align="center"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><u><b><a href="http://steamcommunity.com/id/swagaloo"><font color="#FF8C00">Swagaloo</font></a></b></u></background=rgb(18,></font></font></div>

<div align="center"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><font size="1"><a href="http://xtcr.net/user/968-swagaloo/"><font color="#FF8C00">forums</font></a></font></b></background=rgb(18,></font></font></div>

<div align="center"><font color="#FFFFFF"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><font size="1"><u>Junior Clan Officers</u></font></b></background=rgb(18,></font></font></font></div>

<div align="center"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><a href="http://steamcommunity.com/id/RainnyRainn/"><font color="#EE82EE">Rai</font></a><font color="#EE82EE">n</font></b></background=rgb(18,></font></font></div>

<div align="center"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><font size="1"><font color="#EE82EE">F</font><a href="http://xtcr.net/user/2032-rain/"><font color="#EE82EE">orums</font></a></font></b></background=rgb(18,></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><b><a href="http://steamcommunity.com/id/KhaotiKRepublik"><font color="#008000">Smokey</font></a></b></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><a href="http://xtcr.net/user/83-codekottonmouth/"><font color="#008000"><font size="1">forums</font></font></a></background=rgb(18,></font></font></font></div>

<div align="center">______________________________________________</div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font size="1"><font color="#FFFFFF"><u>Team Fortress 2 Division</u></font></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#EE82EE"><font size="1"><u>Division Leader</u></font></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font size="1"><font face="Times" new="" roman=""><font face="arial," sans-serif=""><background=rgb(18,><a href="http://steamcommunit...laStarr/"><font color="#ee82ee">Lala</font></a></background=rgb(18,></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#00FF00"><u><font size="1">Assistant Divisional Leader</font></u></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font size="1"><font face="Times" new="" roman=""><font face="arial," sans-serif=""><background=rgb(18,><a href="http://steamcommunit...9053097/">Yoshi</a></background=rgb(18,></font></font></font></div>

<div align="center"><font size="1"><font face="arial," sans-serif=""><background=rgb(18,><b><a href="http://steamcommunity.com/profiles/76561198002920471/"><font color="#008000">KushLove</font></a></b></background=rgb(18,></font></font></div>

<div align="center"><font size="1"><font face="arial," sans-serif=""><background=rgb(18,><b><a href="http://xtcr.net/user/59-kushlove/"><font color="#008000">forums</font></a></b></background=rgb(18,></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFD700"><font size="1"><u>Officers</u></font></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font size="1"><font face="Times" new="" roman=""><a href="http://steamcommunit...id/TTKK/"><font face="arial," sans-serif=""><background=rgb(18,>TK</background=rgb(18,></font></a></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#00FFFF"><font size="1"><u>Junior Officers</u></font></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><a href="http://steamcommunit...9211304/">KFJPoodle</a></div>

<div align="center"><a href="http://steamcommunit...ug_Doug/">Dougie</a></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#008000"><font size="1"><u>Level 4 Members</u></font></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...aftable/"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#008000">JLcraftable</font></background=rgb(18,></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...0998001/"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#008000">A Very Fox</font></background=rgb(18,></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...0631623/"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#008000">Gegi</font></background=rgb(18,></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...2390790/"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#008000">Donut</font></background=rgb(18,></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...d/q3ddz/"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#008000">Q3ddz</font></background=rgb(18,></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...1122001/"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#008000">Brainfreeze</font></background=rgb(18,></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...maducky/"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#008000">Llama Ducky</font></background=rgb(18,></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...9354729/"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#008000">Polkasoppa</font></background=rgb(18,></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFF00"><font size="1"><u>Level 3 Members</u></font></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...6364361/"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFD700">Nightowl</font></background=rgb(18,></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FF0000"><font size="1"><u>Level 2 Members</u></font></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit.../Keettu/"><font color="#222222"><font face="Arial," sans-serif=""><font size="1"><font color="#FF0000">Keettu</font></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...ive4Day/"><font color="#222222"><font face="Arial," sans-serif=""><font size="1"><font color="#FF0000">Live4Day</font></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...5815698/"><font color="#222222"><font face="Arial," sans-serif=""><font size="1"><font color="#FF0000">Patches</font></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...icPanda/"><font color="#222222"><font face="Arial," sans-serif=""><font size="1"><font color="#FF0000">Roo</font></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...ppFAPPY/"><font color="#222222"><font face="Arial," sans-serif=""><font size="1"><font color="#FF0000">Slapp Happy</font></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...4336862/"><font color="#222222"><font face="Arial," sans-serif=""><font size="1"><font color="#FF0000">Captain Toast</font></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...4336862/"><font color="#222222"><font face="Arial," sans-serif=""><font size="1"><font color="#FF0000">Zombie</font></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...4336862/"><font color="#222222"><font face="Arial," sans-serif=""><font size="1"><font color="#FF0000">Pootis</font></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#800080"><font size="1"><u>Members</u></font></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...9067907/"><font color="#222222"><font face="Arial," sans-serif=""><font size="1"><font color="#800080">Neon Knight</font></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...necrazy/"><font color="#222222"><font face="Arial," sans-serif=""><font size="1"><font color="#800080">Capone Crazy</font></font></font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#FF8C00"><font size="1"><u>Recruits</u></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font size="1"><a href="http://steamcommunit...5245989/"><font color="#FFA500">Jojo</font></a></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...3397931/"><font color="#FFA500"><font size="1">Pride</font></font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...9560465/"><font color="#FFA500">Hydrolic</font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...4729335/"><font color="#FFA500">Croyogen</font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...ewHacks/"><font color="#FFA500">Pikachoo</font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...57546002"><font color="#FFA500">Takashi</font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...jyun742/"><font color="#FFA500">Jyun742</font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...0522628/"><font color="#FFA500">Kang</font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...5821276/"><font color="#FFA500">AasinDog</font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...4847778/"><font color="#FFA500">Sentry Tech</font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...shocked/"><font color="#FFA500">Bloody Bagel</font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><a href="http://steamcommunit...himedes/"><font color="#FFA500">Uncle Archi</font></a></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#00FF00"><font size="1">Military Police</font></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#00FF00">TK</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#00FF00">Brainfreeze</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#00FF00">LlamaDucky</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#00FF00">Gegi</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#00FF00">Polka</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font size="1"><font color="#FFFFFF">Total Active Members: 29</font></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#00FFFF"><font size="1"><font face="lucida" lucida="" sans="" sans-serif="">If there is anything wrong with the roster, please contact anyone JO+</font></font></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">Chain of Command:</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">Leader</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">Co-Ld</font></background=rgb(18,></font></font></font></font></font></font><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">CO</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">JCO</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">----------</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">DL</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">ADL</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">O</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">JO</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">L4</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">L3</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">L2</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">Member</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">Chain of Command:</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">If you have a problem that needs to be addressed ASAP that you believe an MP can&#39;t handle, you contact these people.</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">Start from the bottom and go up if needed or until your problem has been fixed.</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">MP&#39;s: These are the Military Police. These people patrol the servers and make sure everyone is doing everything correctly.</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">Have a problem in the servers that needs to be addressed? Go to one of them. They will gladly help you.</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">MP&#39;s, along with Lieutenants, are the only ones allowed to go undercover or use admin commands on other admins.</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">They are assigned by the division leader.</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">Recruits: Recruits are people who represent xTcR but are not part of the main governing body of the clan.</font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">They are not allowed to vote on applications.They are recognizable by the tag <tf-r>.</tf-r></font></background=rgb(18,></font></font></font></font></font></font></div>

<div align="center"><font color="#000000"><font face="Times" new="" roman=""><font size="1"><font color="#808080"><font face="arial," sans-serif=""><font size="1"><background=rgb(18,><font color="#FFFFFF">A recruit may become a member if they make an application and are approved by the majority like everyone else.</font></background=rgb(18,></font></font></font></font></font></font></div>
</body>
</html>

{% endblock %}