{% extends "apps/layout.html" %}
{% block body %}
        <!-- Main content -->
        <div class="content">
            <div class="container">
                <!-- Header -->
<p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p><p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p><p>&nbsp;</p>


                <div class="row">
                    <h1 class="header col-sm-8 col-sm-offset-2">Success!</h1>
                </div>
                <!-- /Header -->

                <!-- Description -->
                <div class="row">
                    <p class="description col-sm-8 col-sm-offset-2">You will receive an email confirmation of your application,
                        it will be voted on at the clan meeting and you will be informed via our forums & steam regarding the status.
                    </p>

                </div>
                <div class="row">
                    <div align="center">
                    <p><h1><a href="http://xtcr.net">Go back to xTcR.net</a></h1></p>
                        </div>
                <!-- /Description -->
            </div>
            </div>

<p>&nbsp;</p>
{% endblock %}