{% extends 'd_layout.html' %}
{% block body %}
{% if admin == 1 %}






{% else %}



			    <div class="col-md-4">
			        <!-- begin panel -->
			        <div class="panel panel-inverse" data-sortable-id="index-3">
			            <div class="panel-heading">
			                <h4 class="panel-title">Applications</h4>
			            </div>

                                          {% if uslz %}

                                       {% for users in uslz %}
                         {% if loop.index > 6 %}
			            <div id="schedule-calendar" class="bootstrap-calendar"></div>
			            <div class="list-group">


                            <a href="#" class="list-group-item text-ellipsis">
                                <span class="badge badge-success">{{ users.date }}</span> {{ users }}
                            </a>

</div>
                        {% else %}

			            <div id="schedule-calendar" class="bootstrap-calendar"></div>
			            <div class="list-group">


                            <a href="#" class="list-group-item text-ellipsis">
                                <span class="badge badge-success">stuff</span> here
                            </a>


                        {% endif %}


{% endfor %}





                        {% endif %}
			        </div>
			        <!-- end panel -->
			    </div>


{% endif %}


{% endblock %}