{% extends "layout.html" %}
{% block body %}


 <section id="main-content" xmlns="http://www.w3.org/1999/html">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-10 main-chart">


            <h1 class="text-center margin-top-60 margin-bottom-30"><span class="text-info">Update</span> Install Packages</h1>
    <p class="text-center lead text-gray margin-bottom-45">
        Click the button below and forget you ever came here.<br>

    <div align="center">

    <a href="/update/run"><button class="btn btn-success">Update Install Packages</button>

    </div>

{% endblock %}